<a href="https://colab.research.google.com/github/flavio641/Modelos_Aprendizados_Maquinas/blob/main/SistemadeRecomenda%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import numpy as np 
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [32]:
ratings = pd.read_csv('/content/BX-Book-Ratings.csv', sep= ';', encoding= 'latin-1',error_bad_lines= False)
ratings

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [33]:
books = pd.read_csv('/content/BX-Books.csv', sep= ';', encoding= 'latin-1',error_bad_lines= False)
books

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [34]:
users = pd.read_csv('/content/BX-Users.csv', sep= ';', encoding= 'latin-1',error_bad_lines= False)
users

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [35]:
books = books[['ISBN', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Book-Title']]
books.rename(columns= {'Book-Title': 'title', 'Book-Author': 'autor','Year-Of-Publication':'year','Publisher': 'publicher'}, inplace= True)
users.rename(columns= {'User-ID': 'User_id', 'Location': 'location', 'Age': 'age'}, inplace= True)
ratings.rename(columns= {'User-ID': 'user_id','Book-Rating':'rating'}, inplace= True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [36]:
books

,ISBN,autor,year,publicher,title
0,0195153448,Mark P. O. Morford,2002,Oxford University Press,Classical Mythology
1,0002005018,Richard Bruce Wright,2001,HarperFlamingo Canada,Clara Callan
2,0060973129,Carlo D'Este,1991,HarperPerennial,Decision in Normandy
3,0374157065,Gina Bari Kolata,1999,Farrar Straus Giroux,Flu: The Story of the Great Influenza Pandemic...
4,0393045218,E. J. W. Barber,1999,W. W. Norton &amp; Company,The Mummies of Urumchi
...,...,...,...,...,...
271355,0440400988,Paula Danziger,1988,Random House Childrens Pub (Mm),There's a Bat in Bunk Five
271356,0525447644,Teri Sloat,1991,Dutton Books,From One to One Hundred
271357,006008667X,Christine Wicker,2004,HarperSanFrancisco,Lily Dale : The True Story of the Town that Ta...
271358,0192126040,Plato,1996,Oxford University Press,Republic (World's Classics)
271359,0767409752,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,A Guided Tour of Rene Descartes' Meditations o...

In [37]:
# Quantidade de Ratingns por UsuÃ¡rio
ratings['user_id'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: user_id, Length: 105283, dtype: int64

In [38]:
x = ratings['user_id'].value_counts() > 200

In [39]:
y = x[x].index
print(y.shape)

(899,)

In [40]:
ratings = ratings[ratings['user_id'].isin(y)]

In [41]:
# Juntando as Tabelas com (merge)
ratings_whith_books = ratings.merge(books, on= 'ISBN')
ratings_whith_books

,user_id,ISBN,rating,autor,year,publicher,title
0,277427,002542730X,10,James Finn Garner,1994,John Wiley &amp; Sons Inc,Politically Correct Bedtime Stories: Modern Ta...
1,3363,002542730X,0,James Finn Garner,1994,John Wiley &amp; Sons Inc,Politically Correct Bedtime Stories: Modern Ta...
2,11676,002542730X,6,James Finn Garner,1994,John Wiley &amp; Sons Inc,Politically Correct Bedtime Stories: Modern Ta...
3,12538,002542730X,10,James Finn Garner,1994,John Wiley &amp; Sons Inc,Politically Correct Bedtime Stories: Modern Ta...
4,13552,002542730X,0,James Finn Garner,1994,John Wiley &amp; Sons Inc,Politically Correct Bedtime Stories: Modern Ta...
...,...,...,...,...,...,...,...
487666,275970,1892145022,0,E. B. White,1999,Little Bookroom,Here Is New York
487667,275970,1931868123,0,Mike Tougias,2002,Capital Books (VA),There's a Porcupine in My Outhouse: Misadventu...
487668,275970,3411086211,10,Sybil GrÃƒ?Ã‚Â¤fin SchÃƒ?Ã‚Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",Die Biene.
487669,275970,3829021860,0,Joseph Cohen,1999,Konemann,The Penis Book
487670,275970,4770019572,0,Eiji Yoshikawa,1995,Kodansha International (JPN),Musashi

In [48]:
#Quantidade ratings dos Livros
number_ratings = ratings_whith_books.groupby('title')['rating'].count().reset_index()

In [49]:
number_ratings

                                                    title  rating
0        A Light in the Storm: The Civil War Diary of ...       2
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Beyond IBM: Leadership Marketing and Finance ...       1
4        Clifford Visita El Hospital (Clifford El Gran...       1
...                                                   ...     ...
160264  Ãƒ?Ã‚?ber die Pflicht zum Ungehorsam gegen den S...       3
160265                                      Ãƒ?Ã‚?lpiraten.       1
160266                     Ãƒ?Ã‚?rger mit Produkt X. Roman.       1
160267                              Ãƒ?Ã‚?stlich der Berge.       1
160268                                  Ãƒ?Ã‚?thique en toc       1

[160269 rows x 2 columns]

In [52]:
number_ratings.rename(columns= {'rating': 'number_of_rating'}, inplace= True)
number_ratings

                                                    title  number_of_rating
0        A Light in the Storm: The Civil War Diary of ...                 2
1                                   Always Have Popsicles                 1
2                    Apple Magic (The Collector's series)                 1
3        Beyond IBM: Leadership Marketing and Finance ...                 1
4        Clifford Visita El Hospital (Clifford El Gran...                 1
...                                                   ...               ...
160264  Ãƒ?Ã‚?ber die Pflicht zum Ungehorsam gegen den S...                 3
160265                                      Ãƒ?Ã‚?lpiraten.                 1
160266                     Ãƒ?Ã‚?rger mit Produkt X. Roman.                 1
160267                              Ãƒ?Ã‚?stlich der Berge.                 1
160268                                  Ãƒ?Ã‚?thique en toc                 1

[160269 rows x 2 columns]

In [53]:
final_rating = ratings_whith_books.merge(number_ratings, on = 'title')
final_rating

,user_id,ISBN,rating,autor,year,publicher,title,number_of_rating
0,277427,002542730X,10,James Finn Garner,1994,John Wiley &amp; Sons Inc,Politically Correct Bedtime Stories: Modern Ta...,82
1,3363,002542730X,0,James Finn Garner,1994,John Wiley &amp; Sons Inc,Politically Correct Bedtime Stories: Modern Ta...,82
2,11676,002542730X,6,James Finn Garner,1994,John Wiley &amp; Sons Inc,Politically Correct Bedtime Stories: Modern Ta...,82
3,12538,002542730X,10,James Finn Garner,1994,John Wiley &amp; Sons Inc,Politically Correct Bedtime Stories: Modern Ta...,82
4,13552,002542730X,0,James Finn Garner,1994,John Wiley &amp; Sons Inc,Politically Correct Bedtime Stories: Modern Ta...,82
...,...,...,...,...,...,...,...,...
487666,275970,1892145022,0,E. B. White,1999,Little Bookroom,Here Is New York,1
487667,275970,1931868123,0,Mike Tougias,2002,Capital Books (VA),There's a Porcupine in My Outhouse: Misadventu...,1
487668,275970,3411086211,10,Sybil GrÃƒ?Ã‚Â¤fin SchÃƒ?Ã‚Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",Die Biene.,1
487669,275970,3829021860,0,Joseph Cohen,1999,Konemann,The Penis Book,1
487670,275970,4770019572,0,Eiji Yoshikawa,1995,Kodansha International (JPN),Musashi,1

In [54]:
final_rating = final_rating[final_rating['number_of_rating']> 50]
final_rating.shape

(59903, 8)

In [57]:
# Vamos descartar valores duplicados
final_rating.drop_duplicates(['user_id', 'title'], inplace= True)
final_rating.shape

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

(57952, 8)

In [60]:
# TransposiÃ§Ã£o das linhas(user_id) em colunas 
book_pivot = final_rating.pivot_table(columns= 'user_id', index= 'title', values = 'rating')
book_pivot.shape

(703, 888)

In [62]:
book_pivot.fillna(0, inplace= True)

In [63]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
from scipy.sparse import csr_matrix
book_sparce = csr_matrix(book_pivot)

In [65]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm= 'brute')
model.fit(book_sparce)

NearestNeighbors(algorithm='brute')

In [89]:
distancias, sugestoes = model.kneighbors(book_pivot.iloc[258, :].values.reshape(1, -1))

In [90]:
for i in range(len(sugestoes)):
  print(book_pivot.index[sugestoes[i]])

Index(['Icebound', 'Long After Midnight', 'Winter Moon',
       'While My Pretty One Sleeps', 'Fatal Cure'],
      dtype='object', name='title')